/* 全域設定 */
@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins/Poppins-Regular.ttf") format("truetype");
}
*{
    position: relative;
    box-sizing: border-box;
    font-family: "Poppins";
}
*:focus {
    outline: none;
}
html,body{
  height: 100%;
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}
.index{
  padding-top: 5%;
  padding-bottom: 5%;
}
h1{
  font-size: 50px;
  font-weight: 600;
  line-height: 1.1em;
  letter-spacing: 7px;
}
h2{
  font-size: 25px;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 4px;
}
p{
  font-size: 18px;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 3px;
}

/* 響應式-平板 */
@media screen and (max-width: 968px) {

}

/* 響應式-手機 */
@media screen and (max-width: 600px) {
  h1{
    font-size: 38px;
    line-height: 1.1em;
    letter-spacing: 4px;
  }
  h2{
    font-size: 20px;
    line-height: 1em;
    letter-spacing: 2px;
  }
  p{
    font-size: 14px;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: 3px;
  }
}